<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>版本更新</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="light" padding-vertical>
  <div class="version-header">

    <p class="version-header-name" text-center>当前版本：1.0.0</p>
    <p class="version-header-info" text-center>build:20004</p>
    <p class="version-header-info" text-center>2019.01.05-2019.10.22</p>

  </div>

</ion-content>

<ion-footer color="light" no-border>
  <ion-toolbar color="light" >
    <ion-button style="margin: 0;background-color: #fff;" fill="clear"  color="light" expand="full" >
      <span ion-text style="color:#3880ff">更新</span>
    </ion-button>
  </ion-toolbar>

</ion-footer>