<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>个人中心</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="light">
  <ion-list>
    <ion-item>
      <ion-button fill="clear" color="dark">
        <ion-label>修改密码</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-button fill="clear" color="dark">
        <ion-label>通用</ion-label>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer color="light" no-border>
  <ion-toolbar color="light" >
    <ion-button (click)="logout()" style="margin: 0;background-color: #fff;" fill="clear"  color="light" expand="full" >
      <span ion-text style="color:#3880ff">安全退出</span>
    </ion-button>
  </ion-toolbar>

</ion-footer>